.main {
    margin-left: auto;
    margin-right: auto;

}

h2 {
    color: rgba(207, 16, 16, 0.797);
}

h3 {
    color: rgb(30, 97, 30);
}

.circle {
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: visible;
    width: 100px;
    font-size: 28px;
    fill: rgb(30, 97, 30);
}

.circle path {
    fill: none;
}



